<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songfu.mapper.SysOperationLogMapper">
    <select id="list" resultType="com.songfu.pojo.SysOperationLog">
        select o.id, user_id, u.username, operation, method, params, ip, status, error_msg, cost_time, o.create_time
        from sys_operation_log o
        left join sys_user u on o.user_id = u.id
        <where>
            <if test="param.userId != null">
                o.user_id = #{param.userId}
            </if>
            <if test="param.operation != null and param.operation != ''">
                and o.operation like concat('%', #{param.operation}, '%')
            </if>
            <if test="param.ip != null and param.ip != ''">
                and o.ip = #{param.ip}
            </if>
            <if test="param.status != null">
                and o.status = #{param.status}
            </if>
            <if test="param.startTime != null and param.endTime != null">
                and o.create_time between #{param.startTime} and #{param.endTime}
            </if>
        </where>
        order by o.id desc
    </select>
</mapper>